[Desktop Entry]
Encoding=UTF-8
Name=Voxel Paint
Comment=Paint in 3D using voxels!
StartupNotify=false
Exec=voxelpaint
Icon=${SNAP}/meta/gui/voxelpaint.png
Terminal=false
Type=Application
Categories=Game;Graphics;
